@use '../utilities/variables' as var;

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var.$primary-color;

  width: 100%;
  height: 4rem;

  h1 {
    margin-left: 3.5rem;

    a {
      text-decoration: none;
      color: black;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 5%;
    list-style-type: none;
    text-decoration: none;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
